#top-section {
    display: flex;
    gap: 12px;
    padding: 20px;
    background-color: #f0f0f0;
}

#new-game-button,
#home-button {
    text-transform: none;
    color: #222;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    background-color: none;
    border: 2px solid #222; 
    box-sizing: border-box; 
    text-align: center;
    display: inline-block;
    line-height: 30px; /* Center the text vertically */
    vertical-align: middle; /* Align vertically in the middle */
    height: 45px; 
}

#home-button {
    margin-left: 15px;
    width: 130px; 
}

#new-game-button {
    width: 180px; 
}

#new-game-button:hover,
#home-button:hover {
    color: red; 
}

/* Game Environment Container */
#game-container {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #222; 
    width: 1200px;
    height: 500px;
    padding: 0px; 
    display: flex;
    justify-content: space-between;
    box-sizing: border-box; 
}

/* Right section */
/* Hangman image styles */
#hangman-image {
    color: #222;
    font-size: 45px;
    margin-right: 260px;
    line-height: 58px;
    margin-top: 0; 
}

#left-section {
    text-align: left;
    margin-left: 150px;
    flex: 1; 
}

#game-message, #error-message, #guessed-letters, #word-display
{
    color: #222;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

#game-message {
    margin-top: 110px;
}

#error-message{
    color: red;
}

#word-display {
    font-size: 42px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 120px;
    letter-spacing: 3.3px; 
    font-weight: none
}

#guess-container {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    margin-top: 15px;
}

/* Guess input styles */
#guess-input {
    font-family: 'Lato', sans-serif;
    color: #222;
    font-size: 22px;
    max-width: 300px;
}

/* Guess button styles */
#guess-button {
    text-transform: none;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    background-color: #008CBA;
    color: white;
    border: none;
    box-sizing: border-box;
    width: auto;
    height: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-left: 15px;
}

/* Hover effect for buttons on the left */
#guess-button:hover {
    background-color: #005684;
}
