/* styles.css */

.header-bar {
    background-color: #222;
    padding: 32px 0; 
}

h1 {
    color: #f0f0f0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 52px;
    letter-spacing: 3px; 
    margin: 0;
    text-align: center;
}

#hangman-art {
    font-size: 50px;
    color: #222;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 58px;
}

#start-button {
    font-family: 'Lato', sans-serif;
    text-transform: none;
    font-size: 30px;
    color: #222;
    margin: auto; 
    text-align: center; 
    display: block; 
    border: 2px solid #222; 
    box-sizing: border-box;
    width: 290px; 
    height: 60px; 
}

#start-button:hover {
    color: red; 
}

.button-link {
    text-decoration: none; 
}